/* font for header, from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Protest+Revolution');

/* removes automatic margins */
* {
  margin: 0;
}

/* general styles */
body {
  background-color: linen;
}

header {
  /* main heading on start screen */
  font-family: 'Protest Revolution';
  font-size: larger;
  color: maroon;
  text-align: center;
}

main {
  font-family: sans-serif;
}

h1, h3 {
  margin: 20px 0 10px;
}

/* start screen images div */
#gallery-box {
  padding-top: 20px;
  text-align: center;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

#gallery-box > img {
  width: 75px;
  height: 100px;
  border: 1px solid maroon;
  margin: 5px;
}

/* 'play now' button div */
#begin-box {
  margin: 30px 0;
  text-align: center;
}

#begin {
  padding: 10px;
  font-weight: bolder;
}

/* start screen text div */
#instruct-box {
  text-align: justify;
  width: 80%;
  max-width: 500px;
  margin: 0 auto 30px;
}

li {
  margin-bottom: 8px;
}

/* footer on start screen */
footer {
  padding: 30px;
  text-align: center;
  font-size: 0.9rem;
}

/* GAME SCREEN */
/* areas where chosen cards are displayed */
.card-zone {
  width: 150px;
  height: 200px;
  border: 1.5px solid maroon;
  margin: 20px auto 0;
  /* shifted to the right to accommodate card selection buttons */
  position: relative;
  left: 65px;
}

.card-zone > p {
  text-align: center;
  color: maroon;
  /* label nudged downwards to middle of div */
  position: relative;
  top: 80px;
}

#player-card-zone > img,
#computer-card-zone > img {
  width: 150px;
  height: 200px;
}

/* area where directive or narrative text is displayed */
#text-zone {
  background-color: white;
  width: 300px;
  height: 130px;
  border: 2px ridge gray;
  margin: 20px auto 0;
  text-align: justify;
}

#inner-text-zone {
  margin: 10px;
}

/* card selection buttons div */
#card-buttons {
  /* buttons arranged vertically */
  display: flex;
  flex-direction: column;
  /* elevated up past the text zone to alongside the card zones */
  position: relative;
  bottom: 530px;
  right: 100px;
}

#card-buttons > button {
  width: 95px;
  padding: 10px 5px 10px 0;
  margin: 0 auto 10px;
  /* card count spans aligned */
  text-align: right;
}

/* card counts boldened */
.count {
  font-weight: bolder;
}

/* go home button */
#card-buttons > #home {
  text-align: center;
  padding-right: 0;
}

/* new game button */
#card-buttons > #new-game {
  text-align: center;
  padding-right: 0;
  /* visual separation from gameplay buttons */
  margin-bottom: 50px;
}

/* media queries */
/* when screen height is large, add space above content */
@media screen and (min-height: 1024px) {
  body {
    padding-top: 150px;
  }
}

/* when screen is wide, rearrange game screen elements
to make better use of the available space */
@media screen and (min-width: 1024px) {
  .card-zone {
    top: 100px;
    left: -50px;
  }

  #player-card-zone {
    top: 130px;
  }

  #card-buttons {
    right: 300px;
    bottom: 430px;
  }

  #text-zone {
    position: relative;
    left: 300px;
    bottom: 120px;
  }
}